


<form action="/create" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    <label for="description">Description:</label>
    <input type="text" name="description">
    <br>
    <label for="name">Available:</label>
    <input type="text" name="available">
    <br>
    <label for="price">Price:</label>
    <input type="number" name="price">
    <br>
    <label for="slug">Slug:</label>
    <input type="text" name="slug">
    <br>
    <label for="category_id">Category Id:</label>
    <input type="text" name="category_id">
    <br>
    <input type="submit">

</form>
